/* Styles appliqués à l'élément <body> */
body {
    background-color: white; 
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Styles appliqués à l'élément <canvas> */
canvas {
    background-color: black;
}
